
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: white;
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
}
 
body {
  background-color: maroon;
  
  border: 2px solid grey;
  padding: 0px 20px 20px 20px;
  
}

h1 {
	font-size: 40px;
	text-align: center;
	font-family: 'Droid Sans', arial, serif;
	margin: 0;
	padding: 20px 0;
	color: white;  
	
}

h3 {
	font-size: 20px;
	text-align: center;
	font-family: 'Droid Sans', arial, serif;
	margin: 0;
	padding: 20px 0;
	color: white;  
	
}

img {
  display: white;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    
}

.center{
    display:block
    
}

p {
  color: black;
    
}

.likert li {
     font-family: 'Droid Sans', arial, serif;
  background-color: lightgray;
    border: 5px solid white;  
    float: left;
  color: black;
     list-style-type: none;
  margin: 0.50px;
  padding: 0.50px;

    
}

table {
	border: 1px solid white;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
    font-family: 'Droid Sans', arial, serif;
  background-color: lightgray;
    border: 5px solid white;  
  color: black;
  margin: 20px;
  padding: 20px;
    
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: silver;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
font-family: 'Droid Sans', arial, serif;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: white;
  font-family: 'Droid Sans', serif;
  font-size: 75%;
}
